extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p Bacon ipsum dolor amet strip steak meatball ham brisket beef.
            a.btn.btn-primary.btn-lg(href='/about') Learn more &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p Pork shoulder ground round short ribs, cupim leberkas flank strip steak kielbasa.
                a.btn.btn-default(href='/about') View Details
            .col-md-4
                h2 Services
                p T-bone ham hock meatball, brisket tri-tip swine beef cow hamburger.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Get In Touch
                p Alcatra jerky short loin, beef ribs shankle turkey swine capicola salami.
                a.btn.btn-default(href='/contact') View Details